extends navbar

block content
  .container(style='padding-top: 75px;')
    .page-header
      h1
        b A webspace to do some things
    h3.list-group
      a.list-group-item(href='/insert' style='text-align: center') Insert
      br
      a.list-group-item(href='/search' style='text-align: center') Search
      br
      a.list-group-item(href='/delete' style='text-align: center') Delete
