extends navbar

block content
  .container(style='padding-top: 50px;')
    .page-header
      h1
        b A webpage to do some things
    .list-group
      a.list-group-item(href='/insert' style='text-align: center') Insert
      br
      a.list-group-item(href='/search' style='text-align: center') Search
      br
      a.list-group-item(href='/delete' style='text-align: center') Delete
